body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}
a {
    text-decoration: none;
}
.logo {
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
font-family: "Raleway", sans-serif;
display: flex;
justify-content: flex-start;
flex-direction: row;
gap: 0px;
margin-right: 76px;
}
.logo-studio-header {
    color: #2e2f42;
}
.nav {
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: row;
gap: 40px;
}
.nav-link {
    display: block;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
padding: 24px 0;
}

.address-list {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-list:hover,
.address-list:focus {
   color: #404bbf;
}

.logo:hover,
.logo:focus
 {
    color: #4D5AE5;
}

.nav-link:hover,
.nav-link:focus {
   color: #404bbf;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-title {
    padding: 188px 0;
    background-color: #2e2f42;
}
.button {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background: #4d5ae5;
cursor: pointer;
display: block;
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px; 
margin: 48px auto 0 auto;
}
.button:hover,
button:focus {
   background-color: #404BBF;
}
.title-main {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
max-width: 496px;
margin: 0 auto;
}

.secondary-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
}
.paragraf {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

h3 {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.logo-studio {
    color: #f4f4fd;
}
li {
    list-style-type: none;
}
.team-section {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-list-item {
    background-color: #FFFFFF;
}

h1, h2, h3, h4, p {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

header {
    border-bottom: 1px solid #e7e9fc;
}
img {
    display: block;
}
.contacts {
display: flex;
gap: 40px;
}
.description-list {
    display: flex;
gap: 24px;
}
.description-list-item {
    width: calc((100% - 72px) / 4);
}
.third-title {
    margin-bottom: 8px;
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.team-list {
    display: flex;
gap: 24px;
}
.team-list-item {
    border-radius: 0px 0px 4px 4px;
}
.secondary-title-active {
    margin-bottom: 72px;
    font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
.portfolio-list {
    display: flex;
gap: 24px;
flex-wrap: wrap;
row-gap: 48px;
}
.portfolio-item {
    width: calc((100% - 48px) / 3);
}
.app-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.third-title-port {
    margin-bottom: 8px;
}
.name-position-container {
    padding: 32px 0;
}
.third-title-team {
    text-align: center;
    margin-bottom: 8px;
}
.paragraf-team {
    text-align: center;
}
.logo-footer {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    gap: 0px;
    margin-bottom: 16px;
    display: inline-block;
}
.footer-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
width: 264px;
}
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip:rect(0 0 0 0);
    overflow: hidden;
}
.menu-list {
    display: flex;
    gap: 40px;
}
.header-container {
    display: flex;
    align-items: center;
}
.address {
    margin-left: auto;
}