body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}
a {
    text-decoration: none;
}
.logo {
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
font-family: "Raleway", sans-serif;
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: row;
gap: 0px;
margin: 24px 0 24px 156px;
}
.logo-studio-header {
    color: #2e2f42;
}
.nav {
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 40px;
margin: 24px 0 24px 76px;
}
.nav-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}
.address {
font-style: normal;
}
.address-list {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.address-list:hover,
.address-list:focus {
   color: #404bbf;
}

.logo:hover,
.logo:focus
 {
    color: #4D5AE5;
}

.nav-link:hover,
.nav-link:focus {
   color: #404bbf;
}

.title-container {
    display: block;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-title {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #2e2f42;
}
.button {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background: #4d5ae5;
cursor: pointer;
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 10px;
border-radius: 4px;
padding: 16px 32px;
margin: 0 635px 68px 636px;
}
.button:hover,
button:focus {
   background-color: #404BBF;
}
.title-main {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
margin: 68px 472px 48px 472px;
}

.secondary-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
display: none;
}
.paragraf {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

h3 {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.logo-studio {
    color: #f4f4fd;
}
li {
    list-style-type: none;
}
.team-section {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-list-item {
    background-color: #FFFFFF;
}

h1, h2, h3, h4, p {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.container-header {
    display: flex;
    border-bottom: 1px solid #e7e9fc;
}
img {
    display: block;
}
.contacts {
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 40px;
margin: 24px 156px 24px 332px; 
}
.description-list {
    display: flex;
gap: 24px;
}
.description-list-item {
    width: calc((100% - 72px) / 4);
}
.third-title {
    margin-bottom: 8px;
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.team-list {
    display: flex;
gap: 24px;
}
.secondary-title-active {
    margin-bottom: 72px;
    font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
.portfolio-list {
    display: flex;
gap: 24px;
flex-wrap: wrap;
}
.third-title-team {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 8px;
}
.paragraf-team {
    text-align: center;
    margin-bottom: 32px;
}
.third-title-port {
    margin-top: 32px;
    margin-bottom: 8px;
    margin-left: 16px;
}
.paragraf-port {
    margin-bottom: 32px;
    margin-left: 16px;
}
.container-footer {
    width: 264px;
    margin: 100px 1020px 100px 156px;
}
.logo-footer {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    margin-bottom: 16px;
}
.footer-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}
.footer {
    background-color: #2e2f42;
}